<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%- htmlWebpackPlugin.options.metadata.title %></title>
		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/icons/manifest.json">
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
		<!-- imported CSS are concatenated and added automatically -->
	</head>
	<body aurelia-app="main">
		<div class="splash">
			<div class="message"><%- htmlWebpackPlugin.options.metadata.title %></div>
			<i class="fa fa-spinner fa-spin"></i>
		</div>
		<% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
		<!-- Webpack Dev Server reload -->
		<script src="/webpack-dev-server.js"></script>
		<% } %>
	</body>
</html>
