#canvas {
   margin: 0 auto;
   width: 100%;
   height: auto;
}

.node circle {
   /*fill: #fff;*/
   /*stroke: red;
   stroke-width: 1px;*/
   fill: url(#gradient2);
}

.node--internal circle {
   fill: url(#gradient);
}

.node--internal text, .node text {
	font: 12px sans-serif;
   text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.node--internal text:hover, .node text:hover {
	font-size: 1.2em;
	transition: font-size 0.1s;
}

.node--internal text:not(hover), .node text:not(hover) {
	transition: fint-size 1s;
	transition-delay: 0.5s;
}

.link {
   fill: none;
   stroke: blue;
   stroke-width: 3px;
}

.btool-info {
	margin-left: 10px;
	color: darkorange;
}

.btool-std.active {
	color:darkorange !important;
}

.btool-info {
	color:darkorange;
}
