#canvas {
   margin: 0 auto;
   /*background-color: blue;*/
   width: 100%;
   height: auto;
}

.node circle {
   /*fill: #fff;*/
   /*stroke: red;
   stroke-width: 1px;*/
   fill: url(#gradient2);
}

.node--internal circle {
   fill: url(#gradient);
}

.node--internal text, .node text {
	font: 12px sans-serif;
   text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff; 
}

.link {
   fill: none;
   stroke: blue;
   stroke-width: 3px;
}
