* {
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: #F5F8FA;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

textarea {
  border: none;
  display: inline-block;
  height: 70px;
  padding: 12px;
  resize: none;
  width: 340px;
}

button {
  background: #DDD;
  border: none;
  color: #000;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  margin-left: 8px;
  vertical-align: top;
  width: 120px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.compose-container {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  max-width: 620px;
  width: 100%;
}

tweet-feed {
  background: #FFF;
  border: 1px solid #e1e8ed;
  display: block;
}

tweet {
  border-bottom: 1px solid #e1e8ed;
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}
  tweet:last-child {
    border-bottom: none;
  }

.tweet-avatar {
  flex-basis: 48px;
  height: 48px;
  margin-right: 10px;
}

.tweet-avatar img {
  border-radius: 5px;
  display: block;
}

.tweet-body {
  flex: 1;
}

.tweet-meta {
  color: #DDD;
  margin-bottom: 5px;
}

.tweet-meta strong {
  color: #111;
}

.tweet-text {
  font-size: 14px;
  line-height: 18px;
}