body {
  margin: 0;
  background-image: url("../images/bg1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.navbar-right {
  margin-right: 0 !important;
}
.router-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
section {
  margin: 20px 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}
.panel-table .panel-body {
  padding: 0;
}
.tag-dendrite {
  margin: 5px 5px;
}
.img-mini-circle {
  height: 35px;
  margin-top: 7px;
  margin-right: 4px;
}
.panel-table .panel-body .table-bordered {
  border-style: none;
  margin: 0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
  text-align: center;
  width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}
.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
  border-bottom: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
  border-top: 0px;
}
.panel-table .panel-footer .pagination {
  margin: 0;
}
.panel-table .panel-footer .col {
  line-height: 34px;
  height: 34px;
}
.panel-table .panel-heading .col h3 {
  line-height: 30px;
  height: 30px;
}
.panel-table .panel-body .table-bordered > tbody > tr > td {
  line-height: 34px;
}
.panel-table .column-id {
  width: 150px;
}
.new-cell {
  margin-top: 10px !important;
}

ai-dialog-overlay.active {
  background-color: #000;
  opacity: 0.5 !important;
}
ai-dialog {
  margin: 100px !important;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  float: none;
}
.home-title {
  margin: 0;
  padding: 30px 0 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 700;
  line-height: normal;
  color: #555;
}
.home-subtitle {
  margin: 0;
  padding: 0 0 40px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 3px;
  color: #555;
}

.profile-header-container {
  margin: 0 auto;
  text-align: center;
}
.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 3px solid #888;
}
.profile-edition {
  border: 3px solid #800 !important;
}
.profile-header {
  margin-top: 43px;
}
